.html, body {
    background-color: #ffeead;
    margin: 10px;
}

.flex-container {
    border: 4px solid brown;
    display: flex;
    justify-content: space-around;
}

.flex-container > div {
    text-align: center;    
    padding: 10px;
 
}

.container {
    border: 5px solid #ffcc5c;
    display: flex;
    justify-content: space-around;
  }

.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
  }
  
.one {
    background-color: #96ceb4;	
  }
  
.two {
    background-color: #ff6f69;
  }
  
.three {
    background-color: #88d8b0;
  }

  .container > div:nth-child(1) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(2) {
    background-color: #ff6f69;
  }
  
  .container > div:nth-child(3) {
    background-color: #88d8b0;
  }

.anotherFlex {
    display: flex;
    border: 4px solid brown;
    min-height: 100px;
    margin: 10px;

    /* justify-content: space-around; */
    gap: 1rem;
}

.anotherFlex > div {
    min-width: 100px;
    padding: 10px;
    text-align: center;


    flex: 1;
    
    
}


#one {
    background-color: #96ceb4;	
    flex-grow: 2;
    /* order: 1; */
}

.card-two {
    background-color: #ff6f69;
    flex-grow: 2;
    /* order: 0; */
}

.card-three {
    background-color: #23b86d;	
    flex-grow: 3;
}